# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/
.env
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Go binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project binary
project

# Other
.idea/
.DS_Store
